[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pip = "==18.0"
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
pylint = "*"
pytest-watch = "*"
rope = "*"

[packages]

[requires]
python_version = "2.7"
