[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
pytest-watch = "*"
check-manifest = "*"


[packages]
